
 /* * {
  border: solid 2px red;
 } */

 body {
  background-color: #2f2516;
  height: 100%;
  margin: 0;
 }
 main {

 }
 header {
  display: flex;
  justify-content: center;
 }

 footer {
   background-color: black;
 }

 .nav-sec {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 10px;
   color: #b78d42;
   /* text-decoration: dotted; */
 }


 .nav-sec-list {
   list-style-type: none;
   display: flex;
   justify-content:space-around;
   gap: 20px;
 }


 .nav-sec-list > li > a {
   text-decoration: none;
   color:#b78d42;
   font-size: 15px;
   font-weight: bold;
   transition:color 0.3 ease;
   /* text-emphasis-color: white; */

 }
  .nav-sec-list2 > li > a {
  text-decoration: none;
  color:#b78d42;
  font-size: 15px;
  font-weight: bold;
  transition:color 0.3 ease;
  /* text-emphasis-color: white; */

}

 .nav-sec-list2 {
   list-style-type: none;
   display: flex;
   justify-content:space-around;
   gap: 20px;
 }

 .nav-sec-list a:hover, .nav-sec-list2 a:hover {
   color: #ffffff;
 }

 .Statement {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%%;
 }
 .Statement h1 {
  color: #b78d42;
  font-weight: bolder;
  text-align: center;


}

.Statement p {
  color: #b78d42;
  text-align: center;

}
.CEO {
  text-align: center;
  /* align-items: center; */
  color: #b78d42;
  background-position: center;
}
.CEO h3 {
  font-weight: bolder;
}

.sonk {
  color: azure;
  text-align: center;
  background-color: black;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content:space-around;
  overflow: hidden;
}
.sonk p {
  color: white;
}

.sonk .video {
  width: 400px;
  height: 200px;
}
.sonk .logo {
  max-width: 100px;
  height: auto;
}


 .social-links .fa-cart-shopping .fa-phone{
   color: azure;
   width: 3rem;
   height: 3rem;
   /* display: inline-flex;
   justify-content: right;
   align-items: right; */
   margin-left: 50%;
   /* position: absolute; */
   right: 10px;
   top: 10px;
   padding: 10px;
 }

 .footer p {
   color: white;
 }
 .footer-list > li > a{
   color: white;
 }


 .footer-list {
   list-style-type: none;
   display: flex;
   justify-content: center;
   gap: 20px;
   flex-direction: column;
 }

 .footer {
 padding: 10px 0;
 width: 100%;
 bottom: 0%;
 left: 0;
 right: 0;
 position:relative;
 text-align: center;
 }
 .footer-div {
  position:sticky;


 }

 .all-rights {
   list-style-type: none;
   display: flex;
   justify-content: center;
   gap: 10px;



 }
 .firster {
  color: white;
  text-align: center;
 }

 .drops {
  background-image: url(assets/pexels-tima-miroshnichenko-5912677.jpg);
  text-align: center;
  /* padding: 100px 20px;
  border-radius: 5px; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.drops h1 {
  color: white;
}
.drops h3 {
  color:#b78d42;
}
.form-section {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #8A4832;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  flex-direction: column;
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.form-section h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-section button {
  width: 20%;
  padding: 12px;
  background-color: white;
  border-radius: 4px;
}
.form-section button:hover {
  background-color:#b78d42;
}
.form-section h3 {
  text-align: center;
}


@media screen and (max-width: 570px) {
  body{font-size: 16px;
  width: 100vw;}
  div{ width: 95%;}
  .footer {width: 100%;
  padding: 0px;}
  .nav-sec{width: 100%;
  padding: 0px;
  flex-direction:column;
  /* align-items: right;
  justify-content: right; */
}
  .nav-sec-list .nav-sec-list2 {
    flex-direction: column;
  }
  .hidden--mobile {
    display: none;
  }
}

@media (min-width: 571px){
  nav > .fa-bars {
    display: none;

  }
}
.social-links i {
  /* display: none; */
  /* position: absolute;
  font-size: 1rem;
  right: 5%; */

}

/* .nav-sec-list .nav-sec-list2 {
  max-width: 600px;
  flex-direction: row;
  align-items: center;
  width: 100%;
  display: none;
} */

.pictureOfMe {
  width: 200;
  height: auto;
}













/* +++++++++++++++++++++++++++++++++++THIS IS FOR THE RESURANT 1+++++++++++++++++++++==*/

.resturant-hero {
  position: relative;
  height: 60vh; /* Full viewport height */
  background: url('assets/pexels-alexandra-stroescu-1044324559-29021173.jpg') no-repeat center center/cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.resturant-hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.Hero-text {
  position: relative;
  z-index: 2;
  animation: glow 1.5s infinite, jump 1s infinite;
}

.Hero-text h1 {
  font-size: 3rem;
  margin: 0 0 20px;
}

.Hero-text p {
  font-size: 1.5rem;
  margin: 0 0 30px;
}


.r1-AboutyUs {
  color: white;
  text-align: center;
  padding-bottom: 20px;

}
.r1-vid {
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 10%;
  object-fit: cover;
  z-index: 0;

}
.iframe-stuff {
  width: 700px;
  height: 700px;
  object-fit: cover;
}

.iframe-stuff> iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;

}




.r1-main {
  max-width: 1170px;
  width: 100%;
  /* margin-bottom: 100px auto; */
  margin: 0 auto 100px auto;
  /* background-color: #ffffff; */
  /* align-content: center; */
  /* right: 50%; */
}

.r1-section-title {
  color: white;
  text-align: center;
  margin-bottom: 80px;
}
.r1-section-title h2 {
  text-transform: capitalize;
  font-size: 35px;
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: 10px;
  color: white;
  animation: glow 1.5s infinite, jump 1s infinite;
}
.r1-section-title h2:before {
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: aqua;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.r1-menus {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  color: white;
}
.r1-menu-column {
  /* margin-bottom: 20px; */
  width: calc(33.333% - 20px);
  /* width: 31%; */
  margin-bottom: 20px;
  color: white;
}
.r1-menu-column h4 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
  color: white;
}
.r1-menu-column h4:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: aqua;
  bottom: 0;
  color: white;
}
.r1-single-menu {
  display: flex;
  /* flex-direction: column;
  text-align: center; */
  align-items: center;
  margin-top: 40px;
  color: white;
}
.r1-single-menu img {
  /* margin: 0 auto 15px; */
  border-radius: 50%;
  max-width: 110px;
  border: 1px dashed whitesmoke;
  padding: 3px;
  margin-right: 15px;
  transition: 0.3s;
}
.r1-single-menu :hover img {
  transform: rotate(360deg);
}
.r1-single-menu .r1-menu-content h5 {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
  border-bottom: 1px dashed black;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.r1-single-menu .r1-menu-content h5 span {
  color: tomato;
  float: right;
  font-weight: 600;
  font-style: italic;
}
.r1-single-menu .r1-menu-content p {
  font-size: 14px;
}

@media only-screen and (min-width:992px) and (max-width:1200px) {
  .r1-main {
    width: 970px;
  }
  .r1-menu-column {
    width: calc(50% - 20px);
  }
}
@media only-screen and (min-width:768px) and (max-width:991px) {
  .r1-main {
    width: 750px;
  }
  .r1-menu-column {
    width: calc(50% - 20px);
  }
}

@media only-screen and (max-width: 767px) {
  .r1-main {
    width: 100%;
    padding: 0 20px;
  }
  .Hero-text> h1 {
    font-size: 2rem;
  }
  .Hero-text> p {
    font-size: 1.2rem;
  }
  /* body{font-size: 16px;
  width: 100vw;}
  div{ width: 95%;}
  .footer {width: 100%;
  padding: 0px;}
  .nav-sec{width: 100%;
  padding: 0px;
  flex-direction:column;
  /* align-items: right;
  /* justify-content: right; */
}
  /* .nav-sec-list .nav-sec-list2 {
    flex-direction: column;
  }
  .hidden--mobile {
    display: none;
  } */


  @media only screen and (max-width: 767px) {
    .r1-main {
      max-width: 100%;
      padding: 0 20px;
    }
    .r1-menus {
      flex-direction: column;
    }
    .r1-menu-column {
      width: 100%;
    }
    .r1-single-menu {
      flex-direction: column;
      text-align: center;
    }
    .r1-single-menu img {
      margin: 0 auto 15px;
      max-width: 80px;
    }
    .r1-single-menu .r1-menu-content h5 {
      font-size: 18px;
    }
    .r1-single-menu .r1-menu-content p {
      font-size: 14px;
    }
  }





















  /* ++++++++++++++++++++++++++++++++++++ (RESURANT 2 CSS) ++++++++++++++++++++++++++ */


.r2-main-Back {
  background-color: #fff2c3;
}


.r2-resturant-hero {
  position: relative;
  height: 80vh; /* Full viewport height */
  /* background: url('assets/pexels-alexandra-stroescu-1044324559-29021173.jpg') no-repeat center center/cover; */
  color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  overflow: hidden;
}

/* .r2-resturant-hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
} */

.r2-Hero-text {
  position: absolute;
  z-index: 1;
  color: rgb(255, 255, 255);
  animation: glow 1.5s infinite;


}
.r2-hero-Video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.r2-Hero-text h1 {
  font-size: 3rem;
  margin: 0 0 20px;
}

.r2-Hero-text p {
  font-size: 1.5rem;
  margin: 0 0 30px;
}


.r2-AboutyUs {
  color: rgb(0, 0, 0);
  text-align: center;
  padding-bottom: 20px;
  /* background-color: rgb(255, 255, 255); */

}
/* .r2-vid {
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  /* width: 100%;
  height: 10%;
  object-fit: cover;
  z-index: 0;

} */
.r2-resturant-hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 0;
}









.r2-main {
  max-width: 1170px;
  width: 100%;
  /* background-color: black; */
  /* margin-bottom: 100px auto; */
  margin: 0 auto 100px auto;

}

.r2-section-title {
  text-align: center;
  margin-bottom: 80px;
  color: #000000;
}
.r2-section-title h2 {
  text-transform: capitalize;
  font-size: 35px;
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}
.r2-section-title h2:before {
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: aqua;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.r2-menus {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  color: rgb(0, 0, 0);
}
.r2-menu-column {
  /* margin-bottom: 20px; */
  width: calc(33.333% - 20px);
  /* width: 31%; */
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}
.r2-menu-column h4 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
  color: rgb(0, 0, 0);
}
.r2-menu-column h4:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: rgb(255, 0, 0);
  bottom: 0;
}
.r2-single-menu {
  display: flex;
  /* flex-direction: column;
  text-align: center; */
  align-items: center;
  margin-top: 40px;
  color: rgb(0, 0, 0);
}
.r2-single-menu img {
  /* margin: 0 auto 15px; */
  border-radius: 50%;
  max-width: 110px;
  border: 1px dashed rgb(0, 0, 0);
  padding: 3px;
  margin-right: 15px;
  transition: 0.3s;
}
.r2-single-menu :hover img {
  transform: rotate(360deg);
}
.r2-single-menu .r2-menu-content h5 {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
  border-bottom: 1px dashed rgb(0, 0, 0);
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.r2-single-menu .r2-menu-content h5 span {
  color: tomato;
  float: right;
  font-weight: 600;
  font-style: italic;
}
.r2-single-menu .r2-menu-content p {
  font-size: 14px;
}


/* STOPPPPPPPPPPPPPPPPPPPPPPPppppppppppppppppp[poppppppppoppoppp[ppp */



@media only-screen and (min-width:992px) and (max-width:1200px) {
  .r2-main {
    width: 970px;
  }
  .r2-menu-column {
    width: calc(50% - 20px);
  }
}
@media only-screen and (min-width:768px) and (max-width:991px) {
  .r2-main {
    width: 750px;
  }
  .r2-menu-column {
    width: calc(50% - 20px);
  }
}

@media only-screen and (max-width: 767px) {
  .r2-main {
    width: 100%;
    padding: 0 20px;
  }
  /* body{font-size: 16px;
  width: 100vw;}
  div{ width: 95%;}
  .footer {width: 100%;
  padding: 0px;}
  .nav-sec{width: 100%;
  padding: 0px;
  flex-direction:column;
  /* align-items: right;
  justify-content: right; */
}
  /* .nav-sec-list .nav-sec-list2 {
    flex-direction: column;
  }
  .hidden--mobile {
    display: none;
  } */


  @media only screen and (max-width: 767px) {
    .r2-main {
      max-width: 100%;
      padding: 0 20px;
    }
    .r2-menus {
      flex-direction: column;
    }
    .r2-menu-column {
      width: 100%;
    }
    .r2-single-menu {
      flex-direction: column;
      text-align: center;
    }
    .r2-single-menu img {
      margin: 0 auto 15px;
      max-width: 80px;
    }
    .r2-single-menu .r2-menu-content h5 {
      font-size: 18px;
    }
    .r2-single-menu .r2-menu-content p {
      font-size: 14px;
    }
  }












  /* ++++++++++++++++++++++++++++++++++++++ (RESTURANT 3) ++++++++++++++++++++++++++= */

  .r3-resturant-hero {
    position: relative;
    height: 60vh;
    background: url(assets/pexels-huy-phan-316220-1422384.jpg) no-repeat center center/cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
  }

  .r3-resturant-hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .r3-Hero-text {
    position: relative;
    z-index: 2;
    animation: glow 1.5s infinite, jump 1s infinite;
  }

  .r3-Hero-text h1 {
    font-size: 3rem;
    margin: 0 0 20px;
  }

  .r3-Hero-text p {
    font-size: 1.5rem;
    margin: 0 0 30px;
  }


  .r3-AboutyUs {
    color: white;
    text-align: center;
    padding-bottom: 20px;
    /* background-color: #000000; */

  }
  .r3-vid {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 10%;
    object-fit: cover;
    z-index: 0;

  }
  .iframe-stuff {
    width: 700px;
    height: 700px;
    object-fit: cover;
  }

  .iframe-stuff> iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
.r3-clcl {
  background-color: #000000;
}



  .r3-main {
    max-width: 1170px;
    width: 100%;
    /* margin-bottom: 100px auto; */
    margin: 0 auto 100px auto;
    background-color: black;
    /* align-content: center; */
    /* right: 50%; */
  }

  .r3-section-title {
    color: white;
    text-align: center;
    margin-bottom: 80px;
  }
  .r3-section-title h2 {
    text-transform: capitalize;
    font-size: 35px;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 10px;
    color: white;
    animation: glow 1.5s infinite, jump 1s infinite;
  }
  .r3-section-title h2:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: aqua;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }
  .r3-menus {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
    background-color: #000000;
  }
  .r3-menu-column {
    /* margin-bottom: 20px; */
    width: calc(33.333% - 20px);
    /* width: 31%; */
    margin-bottom: 20px;
    color: white;
  }
  .r3-menu-column h4 {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
    color: white;
  }
  .r3-menu-column h4:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: aqua;
    bottom: 0;
    color: white;
  }
  .r3-single-menu {
    display: flex;
    /* flex-direction: column;
    text-align: center; */
    align-items: center;
    margin-top: 40px;
    color: white;
  }
  .r3-single-menu img {
    /* margin: 0 auto 15px; */
    border-radius: 50%;
    max-width: 110px;
    border: 1px dashed whitesmoke;
    padding: 3px;
    margin-right: 15px;
    transition: 0.3s;
  }
  .r3-single-menu :hover img {
    transform: rotate(360deg);
  }
  .r3-single-menu .r3-menu-content h5 {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
    border-bottom: 1px dashed rgb(255, 255, 255);
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .r3-single-menu .r3-menu-content h5 span {
    color: tomato;
    float: right;
    font-weight: 600;
    font-style: italic;
  }
  .r3-single-menu .r3-menu-content p {
    font-size: 14px;
  }

  @media only-screen and (min-width:992px) and (max-width:1200px) {
    .r3-main {
      width: 970px;
    }
    .r3-menu-column {
      width: calc(50% - 20px);
    }
  }
  @media only-screen and (min-width:768px) and (max-width:991px) {
    .r3-main {
      width: 750px;
    }
    .r3-menu-column {
      width: calc(50% - 20px);
    }
  }

  @media only-screen and (max-width: 767px) {
    .r3-main {
      width: 100%;
      padding: 0 20px;
    }
    .r3-Hero-text> h1 {
      font-size: 2rem;
    }
    .r3-Hero-text> p {
      font-size: 1.2rem;
    }
    /* body{font-size: 16px;
    width: 100vw;}
    div{ width: 95%;}
    .footer {width: 100%;
    padding: 0px;}
    .nav-sec{width: 100%;
    padding: 0px;
    flex-direction:column;
    /* align-items: right;
    /* justify-content: right; */
  }
    /* .nav-sec-list .nav-sec-list2 {
      flex-direction: column;
    }
    .hidden--mobile {
      display: none;
    } */


    @media only screen and (max-width: 767px) {
      .r3-main {
        max-width: 100%;
        padding: 0 20px;
      }
      .r3-menus {
        flex-direction: column;
      }
      .r3-menu-column {
        width: 100%;
      }
      .r3-single-menu {
        flex-direction: column;
        text-align: center;
      }
      .r3-single-menu img {
        margin: 0 auto 15px;
        max-width: 80px;
      }
      .r3-single-menu .r3-menu-content h5 {
        font-size: 18px;
      }
      .r3-single-menu .r3-menu-content p {
        font-size: 14px;
      }
    }













    /* ++++++++++++++++++++++++++++++++++++++ (RESTURANT 4) ++++++++++++++++++++++++++= */

  .r4-resturant-hero {
    position: relative;
    height: 60vh;
    background: url(assets/pexels-chanwalrus-958545.jpg) no-repeat center center/cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
  }

  .r4-resturant-hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .r4-Hero-text {
    position: relative;
    z-index: 2;
    animation: glow 1.5s infinite, jump 1s infinite;
  }

  .r4-Hero-text h1 {
    font-size: 3rem;
    margin: 0 0 20px;
  }

  .r4-Hero-text p {
    font-size: 1.5rem;
    margin: 0 0 30px;
  }


  .r4-AboutyUs {
    color: white;
    text-align: center;
    padding-bottom: 20px;
    background-color: #000000;

  }
  .r4-vid {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 10%;
    object-fit: cover;
    z-index: 0;

  }
  .iframe-stuff {
    width: 700px;
    height: 700px;
    object-fit: cover;
  }

  .iframe-stuff> iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
.r4-clcl {
  /* background-color: #000000; */
}



  .r4-main {
    max-width: 1170px;
    width: 100%;
    /* margin-bottom: 100px auto; */
    margin: 0 auto 100px auto;
    /* background-color: black; */
    background: linear-gradient(135deg, #FF9933, #FFD700, #008000);
    /* align-content: center; */
    /* right: 50%; */
  }
  .r4-backback {
    background: linear-gradient(135deg, #FF9933, #FFD700, #008000);

  }

  .r4-section-title {
    color: white;
    text-align: center;
    margin-bottom: 80px;
  }
  .r4-section-title h2 {
    text-transform: capitalize;
    font-size: 35px;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 10px;
    color: white;
    animation: glow 1.5s infinite, jump 1s infinite;
  }
  .r4-section-title h2:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: aqua;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }
  .r4-menus {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
    /* background-color: #000000; */
  }
  .r4-menu-column {
    /* margin-bottom: 20px; */
    width: calc(33.333% - 20px);
    /* width: 31%; */
    margin-bottom: 20px;
    color: white;
  }
  .r4-menu-column h4 {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
    color: white;
  }
  .r4-menu-column h4:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: aqua;
    bottom: 0;
    color: white;
  }
  .r4-single-menu {
    display: flex;
    /* flex-direction: column;
    text-align: center; */
    align-items: center;
    margin-top: 40px;
    color: white;
  }
  .r4-single-menu img {
    /* margin: 0 auto 15px; */
    border-radius: 50%;
    max-width: 110px;
    border: 1px dashed whitesmoke;
    padding: 3px;
    margin-right: 15px;
    transition: 0.3s;
  }
  .r4-single-menu :hover img {
    transform: rotate(360deg);
  }
  .r4-single-menu .r4-menu-content h5 {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
    border-bottom: 1px dashed black;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .r4-single-menu .r4-menu-content h5 span {
    color: tomato;
    float: right;
    font-weight: 600;
    font-style: italic;
  }
  .r4-single-menu .r4-menu-content p {
    font-size: 14px;
  }

  @media only-screen and (min-width:992px) and (max-width:1200px) {
    .r4-main {
      width: 970px;
    }
    .r4-menu-column {
      width: calc(50% - 20px);
    }
  }
  @media only-screen and (min-width:768px) and (max-width:991px) {
    .r4-main {
      width: 750px;
    }
    .r4-menu-column {
      width: calc(50% - 20px);
    }
  }

  @media only-screen and (max-width: 767px) {
    .r4-main {
      width: 100%;
      padding: 0 20px;
    }
    .r4-Hero-text> h1 {
      font-size: 2rem;
    }
    .r4-Hero-text> p {
      font-size: 1.2rem;
    }
    /* body{font-size: 16px;
    width: 100vw;}
    div{ width: 95%;}
    .footer {width: 100%;
    padding: 0px;}
    .nav-sec{width: 100%;
    padding: 0px;
    flex-direction:column;
    /* align-items: right;
    /* justify-content: right; */
  }
    /* .nav-sec-list .nav-sec-list2 {
      flex-direction: column;
    }
    .hidden--mobile {
      display: none;
    } */


    @media only screen and (max-width: 767px) {
      .r4-main {
        max-width: 100%;
        padding: 0 20px;
      }
      .r4-menus {
        flex-direction: column;
      }
      .r4-menu-column {
        width: 100%;
      }
      .r4-single-menu {
        flex-direction: column;
        text-align: center;
      }
      .r4-single-menu img {
        margin: 0 auto 15px;
        max-width: 80px;
      }
      .r4-single-menu .r4-menu-content h5 {
        font-size: 18px;
      }
      .r4-single-menu .r4-menu-content p {
        font-size: 14px;
      }
    }












 /* ++++++++++++++++++++++++++++++++++++++ (RESTURANT 5) ++++++++++++++++++++++++++= */

.submitForm {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.r5-resturant-hero {
  position: relative;
  height: 60vh;
  background: url(assets/pexels-zhangkaiyv-3603453.jpg) no-repeat center center/cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.r5-resturant-hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.r5-Hero-text {
  position: relative;
  z-index: 2;
  animation: glow 1.5s infinite, jump 1s infinite;
}

.r5-Hero-text h1 {
  font-size: 3rem;
  margin: 0 0 20px;
}

.r5-Hero-text p {
  font-size: 1.5rem;
  margin: 0 0 30px;
}
.r5-secsec {
  background: linear-gradient(135deg, #FF0000, #FFD700);

}


.r5-AboutyUs {
  color: white;
  text-align: center;
  padding-bottom: 20px;
  background: linear-gradient(135deg, #FF0000, #FFD700);
  /* background-color: #000000; */

}
.r5-vid {
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 10%;
  object-fit: cover;
  z-index: 0;

}
.iframe-stuff {
  width: 700px;
  height: 700px;
  object-fit: cover;
}

.iframe-stuff> iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.r5-clcl {
background-color: #000000;
}



.r5-main {
  max-width: 1170px;
  width: 100%;
  /* margin-bottom: 100px auto; */
  margin: 0 auto 100px auto;
  background: linear-gradient(135deg, #FF0000, #FFD700);
  /* align-content: center; */
  /* right: 50%; */
}

.r5-section-title {
  color: white;
  text-align: center;
  margin-bottom: 80px;
}
.r5-section-title h2 {
  text-transform: capitalize;
  font-size: 35px;
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: 10px;
  color: white;
  animation: glow 1.5s infinite, jump 1s infinite;
}
.r5-section-title h2:before {
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: aqua;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.r5-menus {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  color: white;
  background: linear-gradient(135deg, #FF0000, #FFD700);
}
.r5-menu-column {
  /* margin-bottom: 20px; */
  width: calc(33.333% - 20px);
  /* width: 31%; */
  margin-bottom: 20px;
  color: white;
}
.r5-menu-column h4 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
  color: white;
}
.r5-menu-column h4:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: aqua;
  bottom: 0;
  color: white;
}
.r5-single-menu {
  display: flex;
  /* flex-direction: column;
  text-align: center; */
  align-items: center;
  margin-top: 40px;
  color: white;
}
.r5-single-menu img {
  /* margin: 0 auto 15px; */
  border-radius: 50%;
  max-width: 110px;
  border: 1px dashed whitesmoke;
  padding: 3px;
  margin-right: 15px;
  transition: 0.3s;
}
.r5-single-menu :hover img {
  transform: rotate(360deg);
}
.r5-single-menu .r5-menu-content h5 {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
  border-bottom: 1px dashed rgb(255, 255, 255);
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.r5-single-menu .r5-menu-content h5 span {
  color: rgb(74, 255, 71);
  float: right;
  font-weight: 600;
  font-style: italic;
}
.r5-single-menu .r5-menu-content p {
  font-size: 14px;
}

@media only-screen and (min-width:992px) and (max-width:1200px) {
  .r5-main {
    width: 970px;
  }
  .r5-menu-column {
    width: calc(50% - 20px);
  }
}
@media only-screen and (min-width:768px) and (max-width:991px) {
  .r5-main {
    width: 750px;
  }
  .r5-menu-column {
    width: calc(50% - 20px);
  }
}

@media only-screen and (max-width: 767px) {
  .r5-main {
    width: 100%;
    padding: 0 20px;
  }
  .r5-Hero-text> h1 {
    font-size: 2rem;
  }
  .r5-Hero-text> p {
    font-size: 1.2rem;
  }
  /* body{font-size: 16px;
  width: 100vw;}
  div{ width: 95%;}
  .footer {width: 100%;
  padding: 0px;}
  .nav-sec{width: 100%;
  padding: 0px;
  flex-direction:column;
  /* align-items: right;
  /* justify-content: right; */
}
  /* .nav-sec-list .nav-sec-list2 {
    flex-direction: column;
  }
  .hidden--mobile {
    display: none;
  } */


  @media only screen and (max-width: 767px) {
    .r5-main {
      max-width: 100%;
      padding: 0 20px;
    }
    .r5-menus {
      flex-direction: column;
    }
    .r5-menu-column {
      width: 100%;
    }
    .r5-single-menu {
      flex-direction: column;
      text-align: center;
    }
    .r5-single-menu img {
      margin: 0 auto 15px;
      max-width: 80px;
    }
    .r5-single-menu .r5-menu-content h5 {
      font-size: 18px;
    }
    .r5-single-menu .r5-menu-content p {
      font-size: 14px;
    }
  }










/* ++++++++++++++++++++++++++++++++++++++ (RESTURANT 6) ++++++++++++++++++++++++++= */

.r6-resturant-hero {
  position: relative;
  height: 60vh;
  background: url(assets/pexels-zhangkaiyv-3603453.jpg) no-repeat center center/cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.r6-resturant-hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.r6-Hero-text {
  position: relative;
  z-index: 2;
  animation: glow 1.5s infinite, jump 1s infinite;
}

.r6-Hero-text h1 {
  font-size: 3rem;
  margin: 0 0 20px;
}

.r6-Hero-text p {
  font-size: 1.5rem;
  margin: 0 0 30px;
}
.r6-secsec {
  background: linear-gradient(135deg, #FF0000, #FFD700);

}


.r6-AboutyUs {
  color: white;
  text-align: center;
  padding-bottom: 20px;
  background: linear-gradient(135deg, #FF0000, #FFD700);
  /* background-color: #000000; */

}
.r6-vid {
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 10%;
  object-fit: cover;
  z-index: 0;

}
.iframe-stuff {
  width: 700px;
  height: 700px;
  object-fit: cover;
}

.iframe-stuff> iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.r6-clcl {
background-color: #000000;
}



.r6-main {
  max-width: 1170px;
  width: 100%;
  /* margin-bottom: 100px auto; */
  margin: 0 auto 100px auto;
  background: linear-gradient(135deg, #FF0000, #FFD700);
  /* align-content: center; */
  /* right: 50%; */
}

.r6-section-title {
  color: white;
  text-align: center;
  margin-bottom: 80px;
}
.r6-section-title h2 {
  text-transform: capitalize;
  font-size: 35px;
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: 10px;
  color: white;
  animation: glow 1.5s infinite, jump 1s infinite;
}
.r6-section-title h2:before {
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: aqua;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.r6-menus {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  color: white;
  background: linear-gradient(135deg, #FF0000, #FFD700);
}
.r6-menu-column {
  /* margin-bottom: 20px; */
  width: calc(33.333% - 20px);
  /* width: 31%; */
  margin-bottom: 20px;
  color: white;
}
.r6-menu-column h4 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
  color: white;
}
.r6-menu-column h4:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: aqua;
  bottom: 0;
  color: white;
}
.r6-single-menu {
  display: flex;
  /* flex-direction: column;
  text-align: center; */
  align-items: center;
  margin-top: 40px;
  color: white;
}
.r6-single-menu img {
  /* margin: 0 auto 15px; */
  border-radius: 50%;
  max-width: 110px;
  border: 1px dashed whitesmoke;
  padding: 3px;
  margin-right: 15px;
  transition: 0.3s;
}
.r6-single-menu :hover img {
  transform: rotate(360deg);
}
.r6-single-menu .r6-menu-content h5 {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
  border-bottom: 1px dashed rgb(255, 255, 255);
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.r6-single-menu .r6-menu-content h5 span {
  color: tomato;
  float: right;
  font-weight: 600;
  font-style: italic;
}
.r6-single-menu .r6-menu-content p {
  font-size: 14px;
}

@media only-screen and (min-width:992px) and (max-width:1200px) {
  .r6-main {
    width: 970px;
  }
  .r6-menu-column {
    width: calc(50% - 20px);
  }
}
@media only-screen and (min-width:768px) and (max-width:991px) {
  .r6-main {
    width: 750px;
  }
  .r6-menu-column {
    width: calc(50% - 20px);
  }
}

@media only-screen and (max-width: 767px) {
  .r6-main {
    width: 100%;
    padding: 0 20px;
  }
  .r6-Hero-text> h1 {
    font-size: 2rem;
  }
  .r6-Hero-text> p {
    font-size: 1.2rem;
  }
  /* body{font-size: 16px;
  width: 100vw;}
  div{ width: 95%;}
  .footer {width: 100%;
  padding: 0px;}
  .nav-sec{width: 100%;
  padding: 0px;
  flex-direction:column;
  /* align-items: right;
  /* justify-content: right; */
}
  /* .nav-sec-list .nav-sec-list2 {
    flex-direction: column;
  }
  .hidden--mobile {
    display: none;
  } */


  @media only screen and (max-width: 767px) {
    .r6-main {
      max-width: 100%;
      padding: 0 20px;
    }
    .r6-menus {
      flex-direction: column;
    }
    .r6-menu-column {
      width: 100%;
    }
    .r6-single-menu {
      flex-direction: column;
      text-align: center;
    }
    .r6-single-menu img {
      margin: 0 auto 15px;
      max-width: 80px;
    }
    .r6-single-menu .r6-menu-content h5 {
      font-size: 18px;
    }
    .r6-single-menu .r6-menu-content p {
      font-size: 14px;
    }
  }













/* ++++++++++++++++++++++++++++++++++++++(HOMEPAGE CSS)++++++++++++++++++++++++++++ */

  .h-slider {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

  .h-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;

  }

  .slide {
    min-width: 100%;
    text-align: center;
    padding: 100px 0;
    background-color: lightsalmon;
  }
  button {
    position: absolute;
    top: 50%;
    background-color: rgba(0,0,0,00.5s);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  button.previous {
    left: 10px;
  }
  button.next {
    right: 10px
  }

  /* .h-content {
  align-content: center;
  } */

  /* .h-content img {
    width: 800px;
    height: outo;
  } */
  .h-hero {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background-image: url(assets/pexels-valeriya-1639563.jpg);
    background-size: cover;
    background-position: center;
    /* display: flex; */
  }

  /* .h-hero>video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;

  } */
  .h-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  .h-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .h-content .btn {
    padding: 10px 20px;
    background-color: #ff6f61;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  .dotted-line {
    border-top: 2px dashed #b78d42;
    width: 100%;
    text-align: center;
    color: salmon;
    height: 0;
    text-shadow: #ff6f61;

  }























  /* +++++++++++++++++++++++++++++ BROWSE PAGE CSS ++++++++++++++++++++++++*/

.browse-container {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column
  align-items: center;
  gap: 20px;
}

.browse-container h1 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 5px #f39c12, 0 0 10px #f39c12, 0 0 20px #f39c12, 0 0 40px #e67e22, 0 0 80px #e74c3c;
  animation: glow 1.5s infinite, jump 1s infinite;
  /* background-color: #b78d42; */
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
}
@keyframes glow {
  0% {
    text-shadow: 0 0 5px #f39c12, 0 0 10px #f39c12, 0 0 20px #f39c12, 0 0 40px #e67e22, 0 0 80px #e74c3c;
  }
  50% {
    text-shadow: 0 0 10px #f39c12, 0 0 20px #f39c12, 0 0 40px #e67e22, 0 0 80px #e74c3c, 0 0 120px #e74c3c;
  }
  100% {
    text-shadow: 0 0 5px #f39c12, 0 0 10px #f39c12, 0 0 20px #f39c12, 0 0 40px #e67e22, 0 0 80px #e74c3c;
  }
}
@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}




.b-filter {
  align-self: flex-start;
  padding-right: 10px;
  /* border-right: 2px solid black; */
}
.b-filter label {
  color: #ddd;
}



.b-card {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-left: 10px solid #b78d42;
}


.card {
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.9rem;
  color: #555;
}

@media (max-width:768px) {
  .b-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:480px) {
  .b-card {
    grid-template-columns: repeat(1, 1fr);
  }
}
.custom-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #0056b3;
}

.custom-button:active {
  background-color: #003f7f;
}














 /* ===================================================================Homepage CSS */

 .h-slider {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.h-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;

}

.slide {
  min-width: 100%;
  text-align: center;
  padding: 100px 0;
  background-color: lightsalmon;
}
button {
  position: absolute;
  top: 50%;
  background-color: rgba(0,0,0,00.5s);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button.previous {
  left: 10px;
}
button.next {
  right: 10px
}

/* .h-content {
align-content: center;
} */

/* .h-content img {
  width: 800px;
  height: outo;
} */
.h-hero {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  top: 0px;
}
/* .h-hero>video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: cover; */

/*
} */
.h-content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.h-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.h-content .btn {
  padding: 10px 20px;
  background-color: #ff6f61;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
}
.dotted-line {
  border-top: 2px dashed #b78d42;
  width: 100%;
  text-align: center;
  color: salmon;
  height: 0;
  text-shadow: #ff6f61;

}

.h-aside> h2 {
  color: #b78d42;
}
.r2-cartdimg {
  background-image: url(assets/Red\ Illustrative\ Burger\ Food\ Logo.jpg) ;
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;

  /* background-size: cover; */
  background-position: center;
}









.browse-container {
 font-family: Arial, sans-serif;
 margin: 20px;
 display: flex;
 flex-direction: column
 align-items: center;
 gap: 20px;
}

.browse-container h1 {
 color: #b78d42;
}



.b-filter {
 align-self: flex-start;
 padding-right: 10px;
 /* border-right: 2px solid black; */
}
.b-filter label {
 color: #ddd;
}



.b-card {
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap: 10px;
 width: 100%;
 max-width: 1200px;
 margin: 0 auto;
 border-left: 10px solid #b78d42;
}


.card {
 background-color: #f8f8f8;
 padding: 20px;
 border: 1px solid #ddd;
 border-radius: 8px;
 text-align: center;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h3 {
 font-size: 1.2rem;
 margin-bottom: 10px;
}

.card p {
 font-size: 0.9rem;
 color: #555;
}

@media (max-width:768px) {
 .b-card {
   grid-template-columns: repeat(2, 1fr);
 }
}

@media (max-width:480px) {
 .b-card {
   grid-template-columns: repeat(1, 1fr);
 }
}









.h-search {
 background-color: ;
 padding: 20px;
 text-align: center;
 border-bottom: 1px solid #ddd;
}

.h-search-bar input[type="text"] {
 width: 20%;
 padding: 10px;
 margin-right: 10px;
 border: 1px solid #ccc;
 border-radius: 5px;
}

.h-search-bar button {
 padding: 10px 20px;
 background-color: #007BFF;
 color: white;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}

.h-search-bar button:hover {
 background-color: #0056b3;
}

.popularCuisines {
 padding: 20px;
 text-align: center;
 background-color: #000000;
}

.popularCuisines> h2 {
 font-size: 1.8rem;
 margin-bottom: 20px;
 color: #b78d42;
}

.h-card {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
 gap: 20px;
 padding: 20px;


}
.h-p-card {
 background: #fff;
 padding: 15px;
 text-align: center;
 border-radius: 8px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 transition: transform 0.2s;

}

.h-p-card:hover {
 transform: scale(1.05);
}

.topRatedRes {
 padding: 20px;
 text-align: center;
}
.topRatedRes> h2 {
 font-size: 1.8rem;
 margin-bottom: 20px;
 color: #b78d42;

}
.h-aside {
 align-self: flex-start;
 padding-right: 10px;
}



















.browse-container {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column
  align-items: center;
  gap: 20px;
}

.browse-container h1 {
  color: #b78d42;
}



.b-filter {
  align-self: flex-start;
  padding-right: 10px;
  /* border-right: 2px solid black; */
}
.b-filter label {
  color: #ddd;
}



.b-card {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-left: 10px solid #b78d42;
}


.card {
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.9rem;
  color: #555;
}

@media (max-width:768px) {
  .b-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:480px) {
  .b-card {
    grid-template-columns: repeat(1, 1fr);
  }
}









.h-search {
  background-color: ;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.h-search-bar input[type="text"] {
  width: 20%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.h-search-bar button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.h-search-bar button:hover {
  background-color: #0056b3;
}

.popularCuisines {
  padding: 20px;
  text-align: center;
  background-image: url(assets/pexels-valeriya-1639563.jpg) ;
  background-attachment: fixed;
  background-size: cover;
  height: 80vh;
  background-position: center;

}

.popularCuisines> h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #b78d42;
}

.h-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;


}
.h-p-card {
  background: transparent;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  border: 5px solid #b78d42;
  /* width: 300px;
  height: 400px; */


}
.H-able-1 {
  background-image: url(assets/pexels-alleksana-5949888.jpg);
  background-size: cover;
  height: 50vh;
  border-radius: 5px;
  background-position: center;

}
.H-able-2 {
  background-image: url(assets/pexels-valeriya-580612.jpg);
  background-size: cover;
  height: 50vh;
  border-radius: 5px;
  background-position: center;

}
.H-able-3 {
  background-image: url(assets/pexels-horizon-content-2100060-3727196.jpg);
  background-size: cover;
  height: 50vh;
  border-radius: 5px;
  background-position: center;

}
.H-able-4 {
  background-image: url(assets/pexels-rohanbatra-20642812.jpg);
  background-size: cover;
  height: 50vh;
  border-radius: 5px;
  background-position: center;

}
.h-p-card> a {
  color: #ffffff;
  display: inline-block;
  padding: 5px 10px;
  background-color: #b78d42;
  text-decoration: none;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
  transition: background-color 0.3s,;
  cursor: pointer;

}
.h-p-card> a:hover {
  background-color: #f57878;

}

.h-p-card:hover {
  transform: scale(1.05);
}

.topRatedRes {
  padding: 20px;
  text-align: center;
}
.topRatedRes> h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #b78d42;

}
.h-aside {
  align-self: flex-start;
  padding-right: 10px;
}




.HomeAdd-Section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  background-color:black;

}

.home-iframe-stuff {
  flex: 1;
  max-width: 50%;
}

.home-iframe-stuff> iframe {
  width: 600px;
  height: 300px;
  border: 1px solid;
  border-radius: 8px;
  /* overflow: hidden; */
}
.add-banner-home {
  flex: 1;
  max-width: 900px;
  background-color: #f6e8b1;
  padding: 20px;
  border: 1px solid;
  border-radius: 8px;
  justify-content: center;
  align-items: center;

  /* background-image: url(assets/Screenshot\ 2025-01-15\ at\ 11.39.27\ AM.png); */

}

.HomeAdd-Section> h1 {
  color: white;
  animation: glow 1.5s infinite, jump 1s infinite;
}
.home-banner> h2 {
  color: white;
}
.add-banner-home img {
  animation: glow 1.5s infinite, jump 1s infinite;
}

.home-banner> p {
  margin: 0;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
}

.h-content> h1 {
  animation: glow 1.5s infinite
}


.button-homer2 {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #000000;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-homer2:hover {
  background-color: #b78d42;
}













/* ======================================JUISTADDED */

#jumbotron {
  background: url(assets/img/wavey-grid.jpg) center center no-repeat;  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#jumbotron > h2 {
  color: white;
  text-align: center;
}

#jumbotron > a {
  text-decoration: none;
  background-color: white;
  font-size: 1.5em;
  padding: 1.5rem;
  border-radius: 10px;
}

form {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}

form > * {
  margin: 0.5rem;
}

form > input[type="submit"] {
  width: 40%;
  margin: 0.5rem;
  margin-right: auto;
}

footer {
  border-top: solid 1px black;
  padding: 2rem 2rem 4rem;
  margin: 1rem 1rem;
}

#bio {
  margin: 1rem;
}

#pizzas {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  height: auto;
  width: 92.5%;
  margin: auto;
}

#pizzas tbody {
  width: 100%;
}

#pizzas th {
  text-align: left;
}

#pizzas td,th {
  width: 25%;
}

#order {
  & #toppings-wrapper {
    & label {
      margin-right: 1em;
    }
  }
}

#oops404 img {
  max-width: 40%;
  margin-left: 30%;
}

#oops404 .attribution {
  font-size: 0.7em;
  text-align: center;
}

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }

  #bio img {
    float: left;
    width: 40%;
    height: auto;
    margin-right: 1rem;
  }
}

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }

  nav > .fa-bars {
    display: none;
  }

  #bio {
    margin-right: 3rem;
  }

  #bio img {
    float: left;
    width: 25%;
    height: auto;
    margin-right: 1rem;
  }
}

.weatherData {
  color: white;
  font-size: 1.5rem;
}
